*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:gray;
    size: 100%;
    border-collapse: collapse;
}
header {
    font-family: Arial;
    text-justify: newspaper;
    color: tan;
    background-color:gray;
    text-shadow: 10px 10px 8px black;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.name{
    color:darkred;
    background-color:default;
}
.name:hover{
    color:rgb(0, 0, 0);
    background-color: none;
}
header ul li a {
    font-family: Arial;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color:darkred;
    margin-left: 37%;
    animation-name: fixposition;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-play-state:initial;
    animation-direction:initial;
}
@keyframes fixposition {
    0% {
        color: rgb(35, 35, 35);
        text-shadow: none;
        margin-left: 0%;
    }
    100% {
        color: darkred;
        margin-left: 37%;
    }
    
}
h1 {
    font-size:50px;
    width: 100%;
    height: 100px;
    animation-name: slide;
    animation-duration: 5s;
    animation-delay: .75s;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-direction: alternate;
    transform: skew(-15deg);
}
@keyframes slide {
    0% {
        padding-left: 0%;
    }
    100% {
        padding-left: 38%;
    }
}
h1:hover{
    color: black;
    animation-name: spin;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count:1;
    animation-direction:normal;
    transform: skew(-15deg);
}
@keyframes spin {
    0% {
        transform: skew(-15deg);
    }
    25% {
        transform: skew(-15deg) rotateX(60deg) rotateZ(-3deg);
    }
    75% {
        transform: skew(-15deg)rotateX(-60deg) rotateZ(3deg);
    }
    100% {
        transform: skew(-15deg);
    }
}
.subheading {
    background-color: rgb(35, 35, 35);
    border-bottom:groove 10px rgb(95, 95, 95) ;
    border-top: ridge 10px rgb(95, 95, 95);
}
#preguide {
    padding-right: 110px;
}
h3 {
    text-decoration:underline;
}

.SOURCE {
    text-decoration: none;
    margin-top: 20px;
}
.content{
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Arial;
    color:black;
    background-color:wheat;
    border-top: 20px wheat solid;
    }
.PWS {
    display: flex;
    padding: 30px;
    border-bottom: 3px rgb(35, 35, 35) solid ;
}
.PWScontent {
    width:max-content;
    padding: 20px;
    text-align: center;
}

.PWS ul li {
    font-size: 12px;
}
.aH {
    height: 600px;
    margin-bottom: 100px;
    border: 9px rgb(0, 0, 0) ridge;
    border-radius: 5px;
}
.aH:hover{
    border: 9px darkred ridge;
}
#PWSG {
    margin-left: 10px;
}
#PWSG2 {
    margin-right: 10px;
}
.HRP{
    position:relative;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 200px;
    display:flex;
    align-items: center;
    border-bottom: 3px rgb(35, 35, 35) solid ;
}
#catp {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
}
#cat {
    position:relative;
    height: 100px;
    width: 100px;
    mix-blend-mode:color-burn;
    z-index: 1;
    top: 34px;
    transform: rotate(9deg);
}
#HRPcontent{
    margin-top: 5px;
    display: inline-block;
    text-align: center;
}

#HRPcontent ul li {
    font-size: 12px;
}
#text-box:hover::after {
    position:absolute;
    border-left: 10px white solid;
    border-bottom: 5px wheat solid;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-right: 7px;
    padding-top: 3px;
    content:"Sucker!";
    background-color: white;
    right: 720px;
    bottom: 115px;

}
#cat:hover {
    animation: spook;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes spook {
    0% {
        position:relative;
        height: 100px;
        width: 100px;
        align-items: center;
        mix-blend-mode:color-burn;
        z-index: 0;
        top: 34px;
        transform: rotate(9deg);
    }

    100% {
        position:relative;
        height: 100px;
        width: 100px;
        align-items: center;
        mix-blend-mode:color-burn;
        z-index: 0;
        top: 34px;
        transform: rotate(9deg);
    }
    50% {
        position:relative;
        height: 100px;
        width: 100px;
        align-items: center;
        mix-blend-mode:color-burn;
        z-index: 0;
        top: 60px;
        transform: rotate(6deg);
    }
    
}
.HRSN{
    position:relative;
    height: 570px;
    border: 9px rgb(0, 0, 0) ridge;
    border-radius: 3px;
    margin-bottom: 30px;
    top: -8.75px;
    z-index: 1;
}
.HRSN:hover{
    border: 9px darkred ridge;
    z-index: 1;
}
#table-box{
    position: relative;
    display: flex;
    flex-direction:row;
    width: 99%;
    flex-flow: row wrap;
    margin-top: 150px;
    justify-content: center;
}
#onp {
    position: absolute;
    top: -30px;
    text-align: center;
    flex: none;
    color: darkred;
    font-size: 20px;
    font-weight:bold;
}
.fake{
    position: relative;
    flex: 1 1 550px;
    margin: 10px;
    justify-content: space-between;
    border: 3px rgb(35, 35, 35) solid;
    height: 300px;
}
.img {
    position: relative;
    height: 100%;
}
#colorsjpg {
    width: 100%;
}
#bluejpg {
    width: 100%;
}
#sky-ocean {
    width: 100%;
}
.subcont {
    position: relative;
    color:wheat;
    bottom: 250px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    width: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    bottom: 300px;
    margin-left: 45%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#gray {
    padding-left: 5px;
    padding-right: 5px;
}
#awfork {
    margin-left: 20%;
    margin-right: 20%;
}

.fake:hover{
    border: 5px darkred solid;
    box-shadow: 5px 5px 5px rgb(73, 0, 74);
}

.fake:hover .subcont {
    bottom: 295px;
    background-color: darkred;
}
@media (min-width: 1600px) {
    .PWScontent {
        width: 1000px;
    }
}
@media (max-width: 700px) {
    .HRSN {
        height: 150px;
        width: auto;
        border: 2px;
        border-radius: .5px;
    }
    .aH {
        height: 110px;
        width: auto;
    }
    h1 {
        font-size: 18px;
    }
    header ul li a {
        font-size: 10px;
        margin-left: 34%;
    }
    body {
        font-size: 10px;
    }
    @keyframes fixposition {
        0% {
            color: blueviolet;
            margin-left: 0%;
        }
        100% {
            color: darkred;
            margin-left: 30%;
        }
    }
    #preguide {
        padding-right: 40px;
    }
}
@media (min-width: 992px) {
    .card {
        display: inline-block;

    }
}
@media (max-width: 992px) {
    .card {
        display: flex;
        flex-direction: row;

    }
}

